body{
    background-image:url(/img/background.png);
}

body .temporizador{
    box-shadow: 2px 2px 3px 3px white;
}

.temporizador span, .temporizador p{
    color: white;
    padding-top: 2rem;
}

.temporizador{
    position: absolute;
    border: 6px solid white;
    border-radius: 1rem;
    padding-right: 6rem;
    display: inline-block;
    margin-top: 2rem;
    margin-left: 6px;
}


.temporizador img{
    width: 42px;
    padding-left: 2rem;
    padding-top: 1rem;
}
.temporizador div{
    display: flex;
}

.movimentacao{
    display: flex;
    position: absolute;
    bottom: 0cm;

}
.movimentacao img{
    display: flexbox;
}

.nave{
    position: absolute;
    bottom: 0cm;
    width: 50px;
}

.missil1{
    position: absolute;
    right: 0cm;
    bottom: 0cm;
    width: 30px;
}
.missil2{
    position: absolute;
    width: 30px;
    bottom: 0cm;
    left: 1.4cm;
}

#pause{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: white;
    font-size: 40px;
    
    display: none; /* começa escondido */
}